
.vs/Trabajo Practico 4/v16/.suo
*.ide
*.ide
*.cache
.vs/Trabajo Practico 4/v16/.suo
.vs/Trabajo Practico 4/v16/Server/sqlite3/storage.ide
.vs/Trabajo Practico 4/v16/.suo
*.ide
*.ide-wal
*.ide-shm
*.ide
.vs/Trabajo Practico 4/v16/.suo
