
.vs/Trabajo Practico 4/v16/Server/sqlite3/db.lock
.vs/Trabajo Practico 4/v16/Server/sqlite3/storage.ide
.vs/Trabajo Practico 4/v16/Server/sqlite3/storage.ide-shm
.vs/Trabajo Practico 4/v16/Server/sqlite3/storage.ide-wal
Trabajo Practico 4/obj/Debug/Trabajo Practico 4.csproj.CoreCompileInputs.cache
